body{
    background-color: white;
    width: 100%;
}

header .menu{
    float: left;
    cursor: pointer;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;

}
header{
    display: inline-block;
    height: 150px;

}
/* main{
    float: right;
    display: flex;
    justify-content: space-between;
} */
main{
    width: 1000px;
    margin: 0 calc(50% - 500px);
    box-sizing: border-box;
    display: flex;

}

.bulb{
    width: 40%;
    float: left;

}
.bulb img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 calc(50% - 150px);
}

div.text{
    width: 60%;
    float: right;
    font-family: sans-serif;
}
.text h1{
    color:blue;
    font-size: 170px;
    margin-top: 0;
    margin-bottom: 0;  
}
.text h2{
    color:black;
    font-size: 15px;
    margin-bottom: 0;
    font-weight: bold;
}
.text h3{
    color:silver;
    font-size: 12px;
}
footer{
    width: 1000px;
    margin: 0 calc(50% - 500px);
}
footer .home-button{
    float:right;
    cursor: pointer;
}
footer .arrow{
    float:right;
    margin-right: 42%;
    padding: 9px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .bulb {
      flex: 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .text {
      flex: 100%;
      max-width: 100%;
      
    }
  }